.weatherBg{
  background: url("https://www.accuweather.com/images/hero/4/1440x450.jpg");
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading{
  font-weight: 700;
  color: white;
}


.weatherResultBox{
  width: 500px;
  height: 300px;
  margin: auto;
}


.weathericon{
  height: 100px;
  width: 100px;
  margin-top: 2rem;
}


.weathercity{
  font-size: 35px;
}

.weathertemp{
  font-size: 45px;
}